@import url('./header.css');

body {
  background-color: var(--color-light);
}

/* Formulario */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 290px;
  background-image: url('../assets/background-form.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  gap: 10px;
}
.form .form-h2 h2 {
  width: 190px;
  height: 60px;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: var(--color-light);
}
.form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.form form input {
  width: 170px;
  height: 28px;
  background: var(--color-grey);
  border-radius: 6px;
  border: none;
  padding: 8px;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 10px;
  line-height: 11px;
}
.form form .main-cotizar {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  background: var(--primary-color-fusion);
  border-radius: 9px;
  width: 62px;
  height: 25px;
  margin-top: 4px;
}
button {
  background: transparent;
  border: none;
  color: var(--color-light);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 10px;
  line-height: 9px;
  padding-bottom: 5px;
  text-align: center;
}

/* Informacion */

.informacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 280px;
  gap: 26px;
}
.informacion .informacion-h2 h2 {
  width: 190px;
  height: 60px;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: var(--color-dark);
}

/* Footer */

footer {
  height: 20vh;
  background-color: var(--secondary-color-dark);
  border-radius: 20px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
footer .footer-div {
  width: 200px;
  height: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}