@import url('./header.css');

body {
  background-color: var(--color-light);
}

/* Formulario */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 290px;
  background-image: url('../assets/background-form.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  gap: 10px;
}
.form-h2 h2 {
  width: 190px;
  height: 60px;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: var(--color-light);
}
.form-h2 img {
  display: none;
}
.form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.form form input {
  width: 170px;
  height: 28px;
  background: var(--color-grey);
  border-radius: 6px;
  border: none;
  padding: 8px;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 10px;
  line-height: 11px;
}
.main-cotizar {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  background: var(--primary-color-fusion);
  border-radius: 9px;
  width: 62px;
  height: 25px;
  margin-top: 4px;
  cursor: pointer;
}
.main-cotizar a {
  cursor: pointer;
}
button {
  background: transparent;
  border: none;
  color: var(--color-light);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 10px;
  line-height: 9px;
  padding-bottom: 5px;
  text-align: center;
  cursor: pointer;
}

/* Informacion */

.informacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 280px;
  gap: 26px;
}
.informacion-h2 h2 {
  width: 190px;
  height: 60px;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: var(--color-dark);
}
.informacion-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 140px;
  gap: 24px;
}
.informacion-div a {
  display: flex;
  align-items: center;
  gap: 16px;
}
.informacion-div a p {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: var(--secondary-color-dark);
}
/* Footer */

footer {
  height: 20vh;
  background-color: var(--primary-color-dark);
  border-radius: 20px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer-div {
  width: 200px;
  height: 28px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: 890px) {
  .form-h2 {
    display: flex;
    align-items: flex-end;
    height: 110px;
  }
  .form-h2 h2 {
    display: none;
  }
  .form-h2 img {
    display: inline;
    width: 300px;
    height: 100px;
  }
  .form-h {
    height: 300px;
  }
  .form form {
    position: absolute;
    top: 200px;
    width: 480px;
    height: 300px;
    background-color: var(--color-light);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
  }
  .form form input {
    width: 80%;
    height: 36px;
    padding: 8px;
    font-size: 12px;
    line-height: 11px;
  }
  .main-cotizar {
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    width: 64px;
    height: 28px;
    margin-top: 20px;
    margin-left: 40px;
  }

  button {
    background: transparent;
    font-size: 10px;
    line-height: 9px;
    padding-bottom: 5px;
  }
  .informacion {
    height: 500px;
    justify-content: flex-end;
    padding-bottom: 20px;
  }
  .informacion-h2 h2 {
    width: 210px;
    font-size: 28px;
  }
  .informacion-div img {
    width: 40px;
    height: 40px;
  }
  .informacion-div a p {
    font-size: 16px;
  }

  /* section footer */
  footer {
    height: 30vh;
    gap: 12px;
  }
  .footer-div {
    width: 400px;
    height: 40px;
    justify-content: space-evenly;
  }
  .footer-div a img {
    width: 52px;
    height: 52px;
  }
  footer div:nth-child(2) img {
    width: 200px;
    height: 82px;
  }
}