@import url("../style.css");

footer {
  height: 20vh;
  background-color: var(--primary-color-dark);
  border-radius: 20px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
footer .footer-div {
  width: 200px;
  height: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}