@import url("../style.css");
@import url("../css/header.css");

body {
  background-color: var(--color-light);
}
.main {
  background-color: var(--color-light);
  width: 100%;
}

/* Nuestra Empresa section*/
.main .main-our {
  background-color: var(--secondary-color-dark);
  height: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0px 0px 20px 20px;
  gap: 16px;
}
.main .main-our > div h2 {
  font-family: var(--primary-font);
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: var(--color-light);
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.18);
}
.main .main-our .main-our-background {
  position: relative;
  left: 16px;
  top: -11px;
  width: 190px;
  height: 10px;
  background-color: var(--primary-color-light);
  opacity: 0.3;
  border-radius: 2px;
}
.main .main-p {
  width: 280px;
  text-align: center;
}
.main .main-p p {
  font-size: 12px;
  font-weight: 400;
  font-family: var(--secondary-font);
  color: var(--color-light);
  line-height: 14px;
}
.main .main-our img {
  width: 130px;
  height: 130px;
}
.main .main-our .eslogan {
  font-family: var(--secondary-font);
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
  line-height: 14px;
  color: var(--color-light);
}
.main .main-cotizar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 32px;
  background: var(--primary-color-fusion);
  border-radius: 10px;
}
.main .main-our a button,
.main .main-services a button,
.main .main-section-cotizar a button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: none;;
  background: transparent;
  color: var(--color-light);
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 10px;
  line-height: 12;
}

/* Atencion rapida y personalizada section*/
.main .main-fast {
  width: 100%;
  height: 810px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}
.main .main-fast > div {
  margin-top: 24px;
}
.main .main-fast .main-fast-div {
  width: 200px;
  height: 164px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.main .main-fast .main-fast-div h3,
.main .main-fast .main-fast-div p {
  text-align: center;
}
.main .main-fast .main-fast-div h3 {
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  color: var(--secondary-color-light);
}
.main .main-fast .main-fast-div p {
  font-family: var(--secondary-font);
  font-size: 12px;
  font-weight: 400;
  color: var(--color-dark);
}

/* Servicios section*/
.main .main-services {
  background-color: var(--secondary-color-dark);
  height: 624px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../assets/fondo-services.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main .main-services .main-services-div1 {
  margin-top: 50px;
}
.main-services-div2 {
  margin-top: 30px;
  height: 160px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.main-services-mas {
  margin-top: 36px;
}

/*Cotizar section*/
.main .main-section-cotizar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 110px;
}
.main .main-section-cotizar article {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: -248px;
}
.main .main-section-cotizar article .main-form form {
  min-width: 260px;
  height: 280px;
  background-color: var(--color-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}
.main .main-section-cotizar article .main-form form input {
  border: none;
  border-bottom: 1px solid var(--secondary-color-dark);
  width: 210px;
  padding: 8px;
  background-color: transparent;
}
.main .main-section-cotizar article .main-form form input::placeholder {
  font-size: 11px;
  font-family: var(--secondary-font);
  opacity: 60%;
  line-height: 10;
}
.main-form form .button-send {
  width: 62px;
  height: 25px;
  padding: 7px 14px;
  margin: 24px 120px 0 0;
  border-radius: 6px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 260px;
  gap: 30px;
}
footer .footer-div {
  width: 260px;
  height: 240px;
  border-top: 1px solid var(--primary-color-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
footer .footer-div .footer-logo-complete {
  margin-top: 10px;
}
footer .footer-div .footer-div-contact {
  width: 140px;
  height: 28px;
  border-bottom: 1px solid var(--secondary-color-light);
}
footer .footer-div .footer-div-contact h4 {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  opacity: .9;
  padding: 2px;
}
footer .footer-div .footer-div-whats {
  margin-top: 5px;
}
footer span {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 6px;
  line-height: 7px;
  color: var(--secondary-color-dark);
}