@import url("../css/header.css");
@import url("../css/footer.css");

body {
  background-color: var(--color-light);
}
.main {
  background-color: var(--color-light);
  width: 100%;
}

/* Nuestra Empresa section*/
.main-our {
  background-color: var(--secondary-color-dark);
  min-height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 20px 20px;
  gap: 16px;
}
.main-services-div h2,
.main-cotizar-div h2,
.main-our-h2 h2 {
  font-family: var(--primary-font);
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: var(--color-light);
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.18);
}
.main-services-div {
  margin-top: 50px;
}
.main-cotizar-div {
  padding-bottom: 10px;
}
.background,
.background-cotizar,
.main-our-background {
  position: relative;
  left: 16px;
  top: -11px;
  width: 190px;
  height: 10px;
  background-color: var(--primary-color-light);
  opacity: 0.3;
  border-radius: 2px;
}
.background {
  width: 98px;
  top: -11px;
}
.background-cotizar {
  width: 79px;
  top: -11px;
}
.main-p {
  width: 280px;
  text-align: center;
}
.main-p p {
  font-size: 12px;
  font-weight: 400;
  font-family: var(--secondary-font);
  color: var(--color-light);
  line-height: 14px;
}
.main-our img {
  width: 130px;
  height: 130px;
}
.eslogan {
  font-family: var(--secondary-font);
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
  line-height: 14px;
  color: var(--color-light);
}
.main-cotizar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 32px;
  background: var(--primary-color-fusion);
  border-radius: 10px;
}
.main-our a button,
.main-services a button,
.main-section-cotizar a button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: none;
  background: transparent;
  color: var(--color-light);
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 10px;
  line-height: 12;
}

/* Atencion rapida y personalizada section*/
.main-fast {
  width: 100%;
  height: 810px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}
.main-fast > div {
  margin-top: 24px;
}
.main-fast-div {
  width: 200px;
  height: 164px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.main-fast-div h3,
.main-fast-div p {
  text-align: center;
}
.main-fast-div h3 {
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  color: var(--secondary-color-light);
}
.main-fast-div p {
  font-family: var(--secondary-font);
  font-size: 12px;
  font-weight: 400;
  color: var(--color-dark);
}

/* Servicios section*/
.main-services {
  background-color: var(--secondary-color-dark);
  height: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../assets/fondo-services.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-services-div1 {
  margin-top: 30px;
}
.main-services-div2 {
  margin-top: 20px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.main-services-div2 img {
  width: 240px;
}
.main-services-mas {
  margin-top: 36px;
}

/*Cotizar section*/
.main-section-cotizar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 110px;
}
.main-section-cotizar article {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: -248px;
}
.main-form form {
  min-width: 260px;
  height: 280px;
  background-color: var(--color-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}
.main-form form input {
  border: none;
  border-bottom: 1px solid var(--secondary-color-dark);
  width: 210px;
  padding: 8px;
  background-color: transparent;
}
.main-form form input::placeholder {
  font-size: 11px;
  font-family: var(--secondary-font);
  opacity: 60%;
  line-height: 10;
}
.button-send {
  width: 62px;
  height: 25px;
  padding: 7px 14px;
  margin: 24px 120px 0 0;
  border-radius: 6px;
}
#correo {
  display: 0;
  opacity: 0;
}

@media (min-width: 890px) {
  .main-our {
    max-height: 560px;
    background-color: var(--secondary-color-dark);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0;
  }
  .main-our-h2 {
    grid-row: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main-our-h2 h2 {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 48px;
    line-height: 69px;
    text-align: center;
    color: var(--color-light);
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.18);
  }
  .main-our-background {
    position: relative;
    left: 20%;
    top: -24px;
    background-color: var(--primary-color-light);
    width: 400px;
    height: 20px;
    opacity: 0.3;
    border-radius: 2px;
  }
  .main-p {
    min-width: 500px;
    grid-row: 3;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  .main-p p {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: var(--color-light);
  }
  .main-our img {
    margin: 0 auto;
    grid-column: 2;
    grid-row: 2 / 4;
    width: 340px;
    height: 340px;
  }
  .main-our .eslogan {
    grid-column: 2;
    grid-row: 4;
    text-align: center;
    font-family: var(--secondary-font);
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    color: var(--color-light);
  }
  .main-cotizar {
    grid-row: 4;
    display: flex;
    width: 140px;
    height: 60px;
    background: var(--primary-color-fusion);
    border-radius: 10px;
    margin: 0 auto;
  }
  .main-cotizar a button {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: none;
    background: transparent;
    color: var(--color-light);
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 20px;
    line-height: 28;
  }

  /* seccion fast */
  .main-fast {
    height: 580px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 100px 1fr;
    gap: 10px;
  }
  .atencion {
    grid-column: 1 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .atencion img{
    height: 100px;
  }
  .main-fast-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .main-fast-div img {
    width: 140px;
    height: 140px;
  }
  .main-fast-div h3 {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 32px;
    line-height: 46px;
    color: var(--secondary-color-dark)
  }
  .main-fast-div p {
    min-width: 200px;
    max-width: 300px;
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: var(--color-dark);
  }
  .f {
    grid-column: 1;
    grid-row: 2;
  }
  .s {
    grid-column: 2;
    grid-row: 2;
  }
  .t {
    grid-column: 3;
    grid-row: 2;
  }

  /* seccion services */
  .main-services {
    height: 980px;
  }
  .main-services-div2 {
    height: 500px;
  }
  .main-services-div2 img {
    width: 600px;
    height: 140px;
  }

  /* seccion cotizar */
  .main-section-cotizar {
    height: 380px;
  }
  .main-section-cotizar article {
    top: -248px;
  }
  .main-services-div h2,
  .main-cotizar-div h2 {
    font-size: 48px;
  }
  .background,
  .background-cotizar {
    width: 200px;
    height: 24px;
    top: -22px;
  }
  .background {
    left: 24px;
  }
  .background-cotizar {
    left: 44px;
  }
  .main-form form {
    min-width: 700px;
    height: 480px;
    justify-content: space-evenly;
  }
  .main-form form input:first-child {
    margin-top: 12px;
  }
  .main-form form input {
    width: 80%;
  }
  .main-form form input::placeholder {
    font-size: 16px;
    font-weight: 600;
    font-family: var(--secondary-font);
    color: var(--color-black);
    opacity: 70%;
    line-height: 10;
  }
  .button-send {
    width: 140px;
    height: 52px;
    margin: 12px 340px 0 0;
  }
}
