@import url("./header.css");

body {
  background: var(--secondary-color-fusion);
}
.main-servicios {
  min-height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.diseño h2,
.main-servicios h2 {
  font-family: var(--primary-font);
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: var(--color-light);
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.18);
}
.background {
  position: relative;
  left: 16px;
  top: -11px;
  width: 98px;
  height: 10px;
  background-color: var(--primary-color-light);
  opacity: 0.3;
  border-radius: 2px;
}
.main-servicios-background {
  position: relative;
  left: 14px;
  top: -11px;
  width: 98px;
  height: 11px;
  background-color: var(--primary-color-light);
  opacity: 0.3;
  border-radius: 2px;
}
article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}
.diseño,
.instalacion,
.mantenimiento {
  width: 220px;
}
.diseño-1,
.mantenimiento-1 {
  background: linear-gradient(179.85deg, transparent 36.7%, rgba(217, 217, 217, 0) 85.75%);
}
.instalacion,
.mantenimiento {
  margin-top: 32px;
}
.diseño-2,
.instalacion-2,
.mantenimiento-2 {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 12px;
  background-color: var(--color-light);
  border-radius: 0px 0px 10px 10px;
}
.diseño-2 p,
.instalacion-2 p,
.mantenimiento-2 p {
  width: 80%;
  font-family: var(--secondary-font);
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
}
.diseño-2 input,
.instalacion-2 input,
.mantenimiento-2 input {
  display: none;
}
.diseño-2 label,
.instalacion-2 label,
.mantenimiento-2 label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
  cursor: pointer;
}
#desktop-diseño {
  display: none;
}
.diseño-3,
.instalacion-3,
.mantenimiento-3 {
  display: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90px;
  background-color: var(--secondary-color-fusion);
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.5);
  margin-top: 10px;
  border-radius: 0px 0px 10px 10px;
}
.diseño-1 img,
.instalacion-1 img,
.mantenimiento-1 img {
  width: 219px;
  height: 219px;
  border-radius: 10px 10px 0px 0px;
}
.mantenimiento {
  margin-bottom: 91px;
}
.diseño-3 p,
.instalacion-3 p,
.mantenimiento-3 p {
  width: 190px;
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: var(--color-light);
}

/* Footer */

footer {
  height: 20vh;
  background-color: var(--color-light);
  border-radius: 20px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer-div {
  width: 200px;
  height: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 890px) {
  .main-servicios {
    min-height: 172px;
    justify-content: flex-end;
    background-color: var(--secondary-color-dark);
  }
  .main-servicios h2 {
    text-align: center;
    font-size: 36px;
  }
  .main-servicios-background {
    left: 16px;
    top: -16px;
    width: 148px;
    height: 16px;
  }
  .instalacion,
  .mantenimiento {
    margin-top: 0;
  }
  .diseño {
    width: 100%;
    height: 460px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    background-color: var(--secondary-color-dark);
    background-image: url('../assets/background-sheet-left.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .diseño-1 {
    grid-column: 2;
    grid-row: 1 / 3;
    width: 320px;
    height: 320px;
    background-image: url('../assets/diseño-services.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
  }
  .diseño-1 img {
    display: none;
  }
  .diseño-2 {
    grid-column: 1;
    grid-row: 1;
    background-color: transparent;
    height: auto;
    justify-content: center;
    align-items: flex-end;
    padding: 0;
  }
  .diseño-2 p {
    width: 80%;
    color: var(--color-light);
    font-size: 36px;
    line-height: 36px;
  }
  .diseño-2 input,
  .diseño-2 label {
    display: none;
  }
  .diseño-3 {
    grid-column: 1;
    grid-row: 2;
  }
  #desktop-diseño {
    display: flex;
    justify-content: flex-start;
    min-width: 500px;
    background-color: transparent;
    height: auto;
    box-shadow: none;
    margin: 0;
    border-radius: 0;
  }
  #desktop-diseño p {
    width: 80%;
    font-size: 18px;
    line-height: 28px;
  }
  .instalacion {
    width: 100%;
    height: 460px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    background-color: var(--color-light);
    background-image: url('../assets/background-sheet-right.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .instalacion-1 {
    grid-column: 1;
    grid-row: 1 / 3;
    width: 320px;
    height: 320px;
    background-image: url('../assets/instalacion-services.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
  }
  .instalacion-1 img {
    display: none;
  }
  .instalacion-2 {
    grid-column: 2;
    grid-row: 1;
    background-color: transparent;
    height: auto;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0;
  }
  .instalacion-2 p {
    width: 90%;
    color: var(--secondary-color-dark);
    font-size: 36px;
    line-height: 36px;
  }
  .instalacion-2 input,
  .instalacion-2 label {
    display: none;
  }
  .instalacion-3 {
    grid-column: 2;
    grid-row: 2;
  }
  .instalacion-3 p {
    color: var(--secondary-color-dark);
    text-align: right;
  }
  #desktop-instalacion {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 500px;
    background-color: transparent;
    height: auto;
    box-shadow: none;
    margin: 0;
    border-radius: 0;
  }
  #desktop-instalacion p {
    width: 80%;
    font-size: 18px;
    line-height: 28px;
  }
  .mantenimiento {
    width: 100%;
    height: 460px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    background-color: var(--secondary-color-dark);
    background-image: url('../assets/background-sheet-left.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
  }
  .mantenimiento-1 {
    grid-column: 2;
    grid-row: 1 / 3;
    width: 320px;
    height: 320px;
    background-image: url('../assets/mantenimiento-services.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
  }
  .mantenimiento-1 img {
    display: none;
  }
  .mantenimiento-2 {
    grid-column: 1;
    grid-row: 1;
    background-color: transparent;
    height: auto;
    justify-content: center;
    align-items: flex-end;
    padding: 0;
  }
  .mantenimiento-2 p {
    width: 80%;
    color: var(--color-light);
    font-size: 36px;
    line-height: 36px;
  }
  .mantenimiento-2 input,
  .mantenimiento-2 label {
    display: none;
  }
  .mantenimiento-3 {
    grid-column: 1;
    grid-row: 2;
  }
  #desktop-mantenimiento {
    display: flex;
    justify-content: flex-start;
    min-width: 500px;
    background-color: transparent;
    height: auto;
    box-shadow: none;
    margin: 0;
    border-radius: 0;
  }
  #desktop-mantenimiento p {
    width: 80%;
    font-size: 18px;
    line-height: 28px;
  }

  /* Footer */
  footer {
    height: 30vh;
    gap: 12px;
  }
  .footer-div {
    width: 400px;
    height: 40px;
  }
  .footer-div a img {
    width: 52px;
    height: 52px;
  }
  footer div:nth-child(2) img {
    width: 200px;
    height: 82px;
  }
}
